// Code generated by Fern. DO NOT EDIT.

package transactionevents

import (
	context "context"

	flagrightgo "github.com/flagright/flagright-go"
	core "github.com/flagright/flagright-go/core"
	internal "github.com/flagright/flagright-go/internal"
	option "github.com/flagright/flagright-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// ## POST Transaction Events
//
// `/events/transaction` endpoint allows you to operate on the [Transaction Events entity.](/guides/overview/entities#transaction-event)
//
// Transaction events are created after the initial `POST /transactions` call (which creates a transaction) and are used to:
//
// * Update the STATE of the transaction, using the `transactionState` field and manage the [Transaction Lifecycle](/guides/overview/entities#transaction-lifecycle-through-transaction-events)
// * Update the transaction details, using the `updatedTransactionAttributes` field.
//
// > If you have neither of the above two use cases, you do not need to use transaction events.
//
// ### Payload
//
// Each transaction event needs three mandatory fields:
//
// * `transactionState` - STATE of the transaction -> value is set to `CREATED` after `POST /transactions` call
// * `timestamp`- the timestamp of when the event was created or occured in your system
// * `transactionId` - The ID of the transaction for which this event is generated.
//
// In order to make individual events retrievable, you also need to pass in a unique `eventId` to the request body.
func (c *Client) Create(
	ctx context.Context,
	request *flagrightgo.TransactionEvent,
	opts ...option.RequestOption,
) (*flagrightgo.TransactionEventMonitoringResult, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// ### GET Transaction Events
//
// `/events/transaction` endpoint allows you to operate on the [Transaction Events entity.](/guides/overview/entities#transaction-event).
//
// You can retrieve any transaction event you created using the [POST Transaction Events](/api-reference/api-reference/transaction-events/create) call.
func (c *Client) Get(
	ctx context.Context,
	// Unique Transaction Identifier
	eventId string,
	opts ...option.RequestOption,
) (*flagrightgo.TransactionEventWithRulesResult, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		eventId,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
