// Code generated by Fern. DO NOT EDIT.

package businessuserevents

import (
	context "context"

	flagrightgo "github.com/flagright/flagright-go"
	core "github.com/flagright/flagright-go/core"
	internal "github.com/flagright/flagright-go/internal"
	option "github.com/flagright/flagright-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// ## POST Business User Events
//
// `/events/business/user` endpoint allows you to operate on the Business User Events entity.
//
// User events are created after the initial `POST /business/users` call (which creates a user) and are used to:
//
// * Update the STATE and KYC Status of the user, using the `userStateDetails` or `kycStatusDetails` field
// * Update the user details, using the `updatedBusinessUserAttributes` field.
//
// > If you have neither of the above two use cases, you do not need to use user events.
//
// ### Payload
//
// Each user event needs three mandatory fields:
//
// * `timestamp`- the timestamp of when the event was created or occured in your system
// * `userId` - The ID of the transaction for which this event is generated.
//
// In order to make individual events retrievable, you also need to pass in a unique `eventId` to the request body.
func (c *Client) Create(
	ctx context.Context,
	request *flagrightgo.BusinessUserEventsCreateRequest,
	opts ...option.RequestOption,
) (*flagrightgo.BusinessWithRulesResult, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// ### GET a Business User Event
// You can retrieve any business user event you created using the [POST Business User Events](/api-reference/api-reference/business-user-events/create) call.
func (c *Client) Get(
	ctx context.Context,
	// Unique Business User Event Identifier
	eventId string,
	opts ...option.RequestOption,
) (*flagrightgo.BusinessUserEventWithRulesResult, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		eventId,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
