// Code generated by Fern. DO NOT EDIT.

package businessusers

import (
	context "context"

	flagrightgo "github.com/flagright/flagright-go"
	core "github.com/flagright/flagright-go/core"
	internal "github.com/flagright/flagright-go/internal"
	option "github.com/flagright/flagright-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// ## POST Business User
//
// `/business/user` endpoint allows you to operate on the Business user entity.
//
// In order to pass the payload of a User to Flagright and verify the User, you will need to call this endpoint with the User payload. Not all fields are mandatory, you will only need to pass in the fields that you have and are relevant for your compliance setup.
//
// ### Payload
//
// Each business user needs three mandatory fields:
//
// * `userId` - Unique identifier for the user
// * `legalEntity` - Details of the business legal entity (CompanyGeneralDetails, FinancialDetails etc) - only `legalName`in `CompanyGeneralDetails` is mandatory
// * `createdTimestamp` - UNIX timestamp in *milliseconds* for when the User is created in your system
func (c *Client) Create(
	ctx context.Context,
	request *flagrightgo.BusinessUsersCreateRequest,
	opts ...option.RequestOption,
) (*flagrightgo.BusinessUsersCreateResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// ### GET Business User
//
// `/business/user` endpoint allows you to operate on the Business User entity.
//
// Calling `GET /business/user/{userId}` will return the entire User payload and rule execution results for the User with the corresponding `userId`
func (c *Client) Get(
	ctx context.Context,
	//
	userId string,
	opts ...option.RequestOption,
) (*flagrightgo.BusinessWithRulesResult, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		userId,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
